.navbar {
  background-color: dodgerblue;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
.nav-link {
  color: white;
}
em {
  color: dodgerblue;
  font-style: normal;
  font-weight: bold;
}
.details {
  list-style-type: square;
}
h3 {
  font-size:18px;
  color: dodgerblue;
}
.jumbotron {
  padding-bottom: 60px;
}
.fa-facebook {
  background-color: blue;
  color: white;
  padding: 10px;
}
.fa-facebook i {
  font-size: 20px;
}
